<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Balance</h5>
                  <span class="h2 font-weight-bold mb-0">${{dashBoardData.userAccountDetails?.balanceAmount}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-money-bill"></i>
                    <!-- <i class="fa-thin fa-money-bill"></i> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Recharge Required</h5>
                  <span class="h2 font-weight-bold mb-0">${{dashBoardData?.userAccountDetails?.rechargeAmount}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-file-invoice"></i>
                    <!-- <i class="fa-light fa-file-invoice"></i> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Commission</h5>
                  <span class="h2 font-weight-bold mb-0">${{dashBoardData?.userAccountDetails?.totalCommission}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-money-bill"></i>
                    <!-- <i class="fa-light fa-money-bill"></i> -->
                    <!-- <i class="fa-solid fa-hand-holding-dollar"></i> -->
                    <!-- <i class="fa-thin fa-sack-dollar"></i> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Completed Orders</h5>
                  <span class="h2 font-weight-bold mb-0">{{dashBoardData?.completedOrderCount}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <!-- <i class="fa-thin fa-bag-shopping"></i> -->
                    <!-- <i class="fa-light fa-bags-shopping"></i> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>