<div class="container-fluid mt--7">
 
  <!-- Dark table -->
  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <!-- <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Deposit Requests</h3>
          <h3 class="btn btn-sm btn-primary text-right" (click)="openDepositModal(content)">Create New Request</h3>
        </div> -->
        <div class="card-header bg-transparent border-0" style="overflow: auto;">
          <div  style="float: left;">
            <h3 class="text-white mb-0">Deposit Requests</h3>
          </div>
          <div style="float: right;">
            <div style="overflow: auto;">
              <div  style="float: left; padding-right: 10px;">
                <select #statusFilter class="form-select" (change)="statusFilterChange(statusFilter.value)">
                  <option value="">Select Status</option>
                  <option value="Pending">Pending</option>
                  <option value="Rejected">Rejected</option>
                  <option value="Approved">Approved</option>
                </select>
              </div>
              <div style="float: right;">
                <button type="button" class="btn btn-primary" (click)="openDepositModal(content)">Deposit</button>
              </div>
            </div>
           
           
          </div>

        </div>
        
        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Amount</th>
                <th scope="col">Type</th>
                <th scope="col">Proof</th>
                <th scope="col">Status</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let deposit of gridResult;index as i">
                <td scope="row">
                  <div class="align-items-center">
                    {{i+1}}
                  </div>
                </td>
                <td>
                  <span>$</span> {{deposit.amount}}
                </td>
                <td>
                  {{deposit.type}}
                </td>
                <td>
                  <a href="{{fileBaseurl+deposit.proofPath}}" target="_blank">Deposit Proof</a>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i> {{deposit.status}}
                  </span>
                </td>
                <td>{{deposit.otherDetails}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Create New Deposit Request</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <form [formGroup]="depositForm">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="input-username">Amount</label>
            <input type="number" id="input-username" class="form-control form-control-alternative" placeholder="Amount" formControlName="amount">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label" for="input-email" >Type</label>
            <select class="form-select" id="input-email" aria-label="Default select example" formControlName="type">
              <option selected>Open this select menu</option>
              <option value="Bank Deposit">Bank Deposit</option>
              <option value="Online transfer">Online transfer</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-control-label" for="input-first-name">Proof</label>
            <input type="file" (change)="onFileSelected($event)" id="input-first-name" class="form-control form-control-alternative" >
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-control-label" for="input-last-name" >Other Details</label>
            <textarea rows="4" class="form-control form-control-alternative" placeholder="Any other details regarding deposit." formControlName="otherDetails"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-control-label" for="input-last-name" >Bank Details</label>
            <img src="{{fileBaseurl + BankDetailImagePath}}" style="width:100%"/>
          </div>
        </div>
      </div>
    </form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="saveDeposit()">Save</button>
	</div>
</ng-template>