<div class="header pb-8 pt-5 pt-md-8">
  <div class="container-fluid mt--7">
 
    <!-- Dark table -->
    <div class="row mt-5">
      <div class="col">
        <div class="card shadow">
          <!-- <div class="card-header bg-transparent border-0">
            <h3 class="text-white mb-0">withdraw Requests</h3>
            <h3 class="btn btn-sm btn-primary text-right" (click)="openwithdrawModal(content)">Create New Request</h3>
          </div> -->
          <div class="card-header bg-transparent border-0" style="overflow: auto;">
            <div  style="float: left;">
              <h3 class="mb-0">All withdraw Requests</h3>
            </div>
            <div style="float: right;">
              <div style="overflow: auto;">
                <div  style="float: left; padding-right: 10px;">
                  <select #statusFilter class="form-select" (change)="statusFilterChange(statusFilter.value)">
                    <option value="">Select Status</option>
                    <option value="Pending">Pending</option>
                    <option value="Rejected">Rejected</option>
                    <option value="Approved">Approved</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">User</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Status</th>
                  <th scope="col">Account Number</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let withdraw of gridResult;index as i">
                  <td scope="row">
                    <div class="align-items-center">
                      {{i+1}}
                    </div>
                  </td>
                  <td>
                    {{withdraw.userName}}
                  </td>
                  <td>
                    <span>$</span> {{withdraw.amount}}
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4" style="color: black ;">
                      <i class="bg-warning"></i> {{withdraw.status}}
                    </span>
                  </td>
                  <td>{{withdraw.accountNumber}}</td>
                  <td> 
                    <div *ngIf="withdraw.status=='Pending'">
                      <button class="btn btn-success" (click)="openChangeStatusModal(content,withdraw.id)">Change Status</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Update Status</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <form>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="form-control-label" for="input-email" >Status</label>
            <select class="form-select" id="input-email" aria-label="Default select example" [(ngModel)]="withdrawStatus">
              <option value="" selected>Open this select menu</option>
              <option value="Rejected">Rejected</option>
              <option value="Approved">Approved</option>
            </select>
          </div>
        </div>
      </div>
    </form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary" (click)="savewithdrawstatus()">Save</button>
	</div>
</ng-template>