<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Current Order   # {{currentOrder.orderId}}</h3>
        </div>
        <main class="container">

          <!-- Left Column / Headphones Image -->
          <div class="left-column">
            <!-- <img data-image="black" src="../../../assets/images/black.png" alt="">
            <img data-image="blue" src="../../../assets/images/blue.png" alt="">
            <img data-image="red" class="active" src="../../../assets/images/red.png" alt=""> -->
            <ng-image-slider #nav
            [images]="imageObject"
            [infinite]="true"
            [autoSlide]="5"
            [imageSize]="{width: '100%', height: '85%'}"
            slideImage="1"></ng-image-slider>
          </div>
    
    
          <!-- Right Column -->
          <div class="right-column" style="margin-left: 10px;">
    
            <!-- Product Description -->
            <div class="product-description">
              <h1>{{currentOrder.products?.title}}</h1>
              <p>{{currentOrder.products?.description}}</p>
            </div>
    
            <!-- Product Configuration -->
            <div class="product-configuration">
    
              <!-- Product Color -->
              
              <!-- Cable Configuration -->
              <div class="cable-config">
               <span><strong>Commission:</strong> $ {{currentOrder.products?.commission}}</span><br>
               <span><strong>Estimated Return:</strong> $ {{currentOrder.products?.commission}}</span>
              </div>
            </div>
    
            <!-- Product Pricing -->
            <div class="product-price">
              <span>$ {{currentOrder.products?.amount}}</span>
              <button (click)="completeOrder()" class="btn btn-success">Complete Order</button>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>