<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">


      <div class="card-wrapper">
        <div class="card-header border-0">
          <div style="overflow: auto;">
            <span style="float: left;">
              <h3 class="mb-0">Current Order   # {{currentOrder.order?.orderId}}</h3>
            </span>
            <span style="float: right;">
              <h3 class="mb-0">Order Number {{currentOrder.order?.products?.orderNum}} out of {{currentOrder.totalCount}}</h3>
            </span>
          </div>
        
        </div>
        <div class="card">
          <!-- card left -->
          <div class="product-imgs">
            <div class="img-display">
              <div class="img-showcase">
                <img [src]="currentImageUrl" alt="shoe image">
              </div>
            </div>
            <div class="img-select">
              <div class="img-item" *ngFor="let img of imageObject">
                <a (click)="changeImage(img.image)" data-id="1">
                  <img style="min-height: 5rem;" [src]="img.image" alt="shoe image">
                </a>
              </div>
            </div>
          </div>
          <!-- card right -->
          <div class="product-content">
            <h2 class="product-title" style="font-size: 2rem !important;">{{currentOrder.order?.products?.title}}</h2>

            <div class="product-price">
              <p class="new-price" style="font-size: 1.5rem !important; font-weight: bold !important;"><strong>Price: </strong><span style="font-weight: bold !important;">${{currentOrder.order?.products?.amount}}</span></p>
            </div>

            <div class="product-detail">
              <h2>about this item: </h2>
              <p>{{currentOrder.order?.products?.description}}</p>
              <ul>
                <li style="font-size: 1.5rem !important;">Commission: <span>${{currentOrder.order?.products?.commission}}</span></li>
                <li style="font-size: 1.5rem !important;">Estimated Return: <span>${{currentOrder.order?.products?.estimatedReturn}}</span></li>
              </ul>
            </div>

            <div class="purchase-info">
              <button type="button" class="btn" (click)="completeOrder()" style="font-size: 1.5rem !important;">
                Complete Order <i class="fas fa-shopping-cart"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>